#title{
    background-color: #f44c68;
    color: #fff;
}
body{
    font-family: "Montserrat";
}
.container-fluid{
    padding: 3% 15%;
}

h1{
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.5rem;
    white-space: normal;
}
p{
    color: #8f8f8f;
}
/* Title Image */
.title-img{
    width: 60%;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Feature section */
#features{
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;

}
.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #f44c68;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* Cta Section */

#cta{
    background-color: #f44c68;
    color: #fff;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer Section */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1037px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
#title{
    text-align: center;
}
}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-item{
    padding: 18px;
}

.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5%;
}
